body {
    font-family: 'Segoe UI', sans-serif;
    color: #543310;

  }
  .privacy-container {
    max-width: 900px;
    margin: 40px auto 120px;
  }
  h1, h2 {
    color: #543310;
  }
  h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 42px;
    font-weight: 600;
  }
  h2 {
    margin-top: 30px;
  }
  a {
    color: #AF8F6F;
    text-decoration: none;
  }