body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  color: #222;
  padding: 40px 80px;
  box-sizing: border-box;
  justify-content: center;
}

.header {
  margin-bottom: 80px;
}

.brand {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  color: #bda98b;
  cursor: pointer;
}

/* Title */
.page-title {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 80px;
  text-align: center;
  justify-self: center;
}

/* Step Bar */
.step-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.step {
  text-align: center;
  flex: 1;
}

.step p {
  font-size: 14px;
  color: #bbb;
  margin-top: 10px;
  line-height: 1.5;
}

.step.active p {
  font-weight: 600;
  color: #000;
}

.circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #ccc;
  color: white;
  font-weight: bold;
  line-height: 36px;
  margin: 0 auto;
}

.step.active .circle {
  background-color: #000;
}

.line {
  width: 40px;
  height: 2px;
  background-color: #ccc;
}

/* Form */
.verify-container {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  color: rgba(0, 0, 0, 0.70);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 40px;
}

.code-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.code-boxes {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.code-input {
  width: 50px;
  height: 60px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}

.code-input:focus {
  border-color: #a48d65;
}

.resend-text {
  font-size: 14px;
  color: #333;
}

.resend-link {
  font-weight: 600;
  text-decoration: underline;
  color: #000;
}

/* Submit button */
.btn {
  display: block;
  margin: 50px auto 0;
  padding: 16px 160px;
  background-color: var(--clr-primary);
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: var(--clr-primary-dark);
}